* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  min-height: 100vh;
}

.main {
  background-color: slategray;
  height: 400px;
  flex-grow: 1;
  padding: 40px;
}

.container {
  background-color: rgb(45, 46, 48);
  color: rgb(205, 218, 218);
  padding: 40px;
}

.album {
  margin-bottom: 50px;
}

.album img {
  float:left;
  margin-right: 16px;
  height: 100px;
  width: 100px;
}

.song {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.song img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.song p {
  margin: 8px;
}

.song-title {
  font-weight: bold;
}

.song-artist {
  color: #777;
}


footer {
  background-color: black;
  color: beige;
  padding: 40px 50px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.now-playing {
  float: left;
}

.now-playing img {
  width: 56px;
  height: 56px;
  float: left;
  margin-right: 16px;
}

.song-title {
 font-size: medium;
 margin:4px 0px; 
}

.song-artist {
  font-size: small;
}

.icon {
  margin: 16px;
}